<h1>Take Home Final</h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.metrics as metrics
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import confusion_matrix,plot_confusion_matrix

In [2]:
df=pd.read_csv("Samuel.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6863 entries, 0 to 6862
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x0      6863 non-null   object
 1   x1      6863 non-null   object
 2   x2      6713 non-null   float64
 3   x3      6863 non-null   object
 4   x4      6863 non-null   object
 5   x5      6863 non-null   object
 6   x6      6483 non-null   object
 7   x7      6863 non-null   object
 8   x8      6266 non-null   object
 9   x9      6863 non-null   object
 10  x10     6863 non-null   object
 11  x11     6863 non-null   float64
 12  x12     6863 non-null   float64
 13  y       6863 non-null   object
dtypes: float64(3), object(11)
memory usage: 750.8+ KB

<p>Looking at the information given about the data set we can see the the x2, x6, and the x8 column are missing values. In the next step we will take a closer look at those columns and try to fix that.</p>

In [6]:
df.isna().sum()

x0       0
x1       0
x2     150
x3       0
x4       0
x5       0
x6     380
x7       0
x8     597
x9       0
x10      0
x11      0
x12      0
y        0
dtype: int64

In [16]:
df['x2'].median()

29.0

In [15]:
df['x6'].mode()

0    A0
dtype: object

In [18]:
df['x8'].mode()

0    A0
dtype: object

AttributeError: 'DataFrame' object has no attribute 'value_counts'